@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,300;0,400;0,900;1,400&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #FFBD14;
  font-family: 'Courgette', cursive;
font-family: 'Roboto', sans-serif;
}

h1{
	color: #EF1016;
	font-size: 300%;
  	font-weight: 400;
  	font-family: 'Courgette', cursive;
    padding-bottom: 50px;

}

h1::before,
h1::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

hr{
  border-bottom:1px solid #9C9583;
}

.padding{
  padding-top: 80px;
  padding-bottom: 80px;

}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 200%;
    font-weight: 200;
  }

  h1::before,
  h1::after{
    width: 2rem;
  }

}




/*---header----*/
.header{
	padding-top: 20px;
	padding-bottom: 20px;
}

/*nav bar*/
.navbar{
  padding: 1%, 0;
  font-size: 1.2em; 
}

.logo{
	background: #FF6614;
	-webkit-box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
	-moz-box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
	box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
	
}

.logo span{
	color: #FFFAF7;
    letter-spacing: 0.5px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.navbar li{
	padding-left: 15px;
	padding-right: 15px;
}

.navbar ul{
	background: #FF6614;
	-webkit-box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
	-moz-box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
	box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
}


.navbar li a{
    color: #FFFAF7;
    letter-spacing: 0.5px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
 }

.navbar li a:hover{
	color: #323232;
}

.navbar-nav li.active > a {
  color: #323232;
}

.navbar-toggler { 
    border-color: #fff; 
}

.navbar-toggler-icon { 

    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.navbar-toggler {
    text-align: center;
}


/* social icon */
.icon-bar {
  position: fixed;
  top: 50%;
  left: 95.5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: #C41200;
}

@media only screen and (max-width: 768px) {
  .icon-bar {
    left: 94%;
 
  }


}

@media only screen and (max-width: 500px) {
  .icon-bar {
    left: 88%;
 
  }


}



/*-------hero section------------*/

.hero { 
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.png) no-repeat center center fixed;
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
}



.landing-text{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-family: 'Courgette', cursive;
  
}

.landing-text h3{
  font-size: 300%;
  font-weight: 400;
  color: #FFBD14;
}

.landing-text h2{
  font-size: 500%;
  font-weight: 700;
  color: #FFBD14;
}

.hero button{
  font-size: 20px;
  font-weight: bold;
}


/*------------------about us section----------*/

.about p{
	color: #03038B;
}

.about img{
	height: 250px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
  -moz-box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
  box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);

}
  



/*------------------menu section----------*/
.menu img{
  width: 300px;
  height: 200px;
	border-radius: 10px;
	 -webkit-box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
  -moz-box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
  box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);

}

.menu h5{
	padding-top: 20px;
}

.menu-tab { 
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/appitizer9.jpeg) no-repeat center center fixed;
  display: table;
  width: 100%;
  height: 80%;
  position: relative;
  background-size: cover;
}


/*------------------delivery section----------*/

.delivery { 
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/delivery.jpg) no-repeat center center fixed;
  display: table;
  width: 100%;
  height: 80%;
  position: relative;
  background-size: cover;
}

/*-------------Services----------------------*/
.service{
  border-radius: 50px;
}

.service img{
  height: 60px;
}


.service-text{
  padding-top: 50px;
  font-size: 13;
  font-weight: bold;
  color: #000;
}


/*---------gallery section ----------*/

.gallery img{
  width: 100%;
  height: 90%;
  border-radius: 10px;
  -webkit-box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
  -moz-box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
  box-shadow: 2px 11px 9px -4px rgba(0,0,0,0.62);
  background: black;

}



/*------------------menu-list section----------*/

.menu-list{
  padding-top: 20px;
  padding-bottom: 80px;
}

.menu-list h4{
  color: #EF1016;
  font-size: 200%;
    font-weight: 300;
    font-family: 'Courgette', cursive;
    padding-bottom: 50px;
}

.menu-list h5{
  font-size: 100%;
  font-weight: bold;
}

.menu-list p{
  font-size: 90%;
  font-weight: 300;
}


.carousel-item{
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  
}

.carousel-caption{
    top: 40%;
    bottom: auto;
    
  }

.carousel-caption h3{
  font-size: 400%;
  font-weight: 500;
  color: #fff;
  font-family: 'Courgette', cursive;
}

.carousel-caption button{
  font-size: 20px;
  font-weight: bold;
}


.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}


.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}

.menu-list img{
  width: 100%;
  height: 90%;
}

@media only screen and (max-width: 768px) {

    .row .col-lg-4{
      padding-top: 10px;
    }


}




/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


@media only screen and (max-width: 768px) {

.carousel-item{
  height: 50vh;
  
}

.carousel-caption{
    top: 40%;
    bottom: auto;
    
  }

.carousel-caption a{
  
  margin-top: 7px;

}

  .carousel-caption a{
    margin-bottom: 10px;
}

}


/*-------contact us section------------*/

.hero-contact { 
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/contactus.jpg) no-repeat center center fixed;
  display: table;
  width: 100%;
  height: 70%;
  position: relative;
  background-size: cover;
}

.contact .card-header h3{
	font-family: 'Courgette', cursive;
	color: #FF6614;
}





/*------------------footer ----------------*/
.footer{
  padding: 10px;
  background-color: #0B1315;
}

.footer h2{
  color: #DDCDB6;

}

.footer .col-lg-12 h2{
  font-size: 15px;
}

.footer p{
  color: #9C9583;
}

.footer .icon i{
  color: #9C9583;
}
